<div class="main">

    <h3 class="url">Oops! Something is broken.</h3>

    <br />

    <div>
        <a class="github-button" href="https://github.com/mbmccormick/vso.io/issues" data-icon="octicon-issue-opened" data-style="mega" aria-label="Issue mbmccormick/vso.io on GitHub">Report this issue on GitHub</a>
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </div>

</div>