<div class="main">
    <h3 class="url">http://<a href="#" class="bold" data-toggle="tooltip" data-placement="bottom" title="Your Visual Studio Online account name">contoso</a>.vso.io/<a href="#" class="bold" data-toggle="tooltip" data-placement="bottom" title="ID of the work item you want to reference">12345</a></h3>

    <h3><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h3>

    <h3 class="url">https://<a href="#" class="bold" data-toggle="tooltip" data-placement="bottom" title="Your Visual Studio Online account name">contoso</a>.visualstudio.com/DefaultCollection/_workitems/edit/<a href="#" class="bold" data-toggle="tooltip" data-placement="bottom" title="ID of the work item you want to reference">12345</a></h3>

    <div class="spacer"></div>

    <p>Install the bookmarklet: <a href="javascript:(function(){var u=document.location.href;var r=/https?:\/\/(.+).visualstudio.com\/.+(?:\/|=)([0-9]+)/g;var m=r.exec(u);open('http://vso.io/share?account='+m[1]+'&amp;id='+m[2],'_blank','height=100,width=400')})()">Copy VSO short link</a></p>

    <p>Download the VSO extension: <a href="/extension/download">extension.json</a></p>

    <br />

    <div>
        <a class="github-button" href="https://github.com/mbmccormick/vso.io" data-style="mega" aria-label="Follow &#64;mbmccormick on GitHub">Follow @@mbmccormick</a>
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>

}