<div class="share">
    <p>Here's the link to your work item:</p>
    <div class="input-group">
        <input type="text" class="form-control" readonly="readonly" value="http://@(Request.QueryString["account"]).vso.io/@(Request.QueryString["id"])" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="Copied to clipboard!">
        <div id="copy-button" data-clipboard-text="http://@(Request.QueryString["account"]).vso.io/@(Request.QueryString["id"])" class="input-group-addon"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        window.moveTo((window.window.screen.availWidth - 400) / 2, (window.screen.availHeight - 120) / 2);

        var client = new ZeroClipboard(document.getElementById("copy-button"));

        $('[data-toggle="tooltip"]').mouseout(function () {
            $(this).tooltip('hide');
        });

        client.on("ready", function (readyEvent) {
            client.on("aftercopy", function (event) {
                $('[data-toggle="tooltip"]').tooltip('toggle');
            });
        });

    </script>

}